nemo-toolkit==1.8.0
torch
torchaudio
pytorch-lightning
sentencepiece==0.2.0
cython
numpy
soundfile
fastapi
uvicorn
setuptools==59.5.0
braceexpand
librosa
torch_stft
transformers
youtokentome
pyannote.core
inflect
editdistance
pydub
IPython
